<% filterStatusHelper = (statusFilter) => { %>
    <div class="status-list col-sm-6 pl0">
        <% statusFilter.forEach(item => { %>
            <a class="btn m-b-sm btn-<%= item.class %> btn-sm" href="<%= systemConfig.prefixAdmin%>/items/<%= item.value %>"> 
                <%= item.name.toUpperCase() %> (<%= item.count %>)
            </a>
        <% }) %>
    </div>
<% } %>