<!-- items is rendered from routes items.js|| items is array -->
<%= JSON.stringify(statusFilter) %>
<div class="alert alert-success" role="alert">
    <span class="close-btn">&times;</span> Thay đổi Status thành công
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Search & Filter
                <a href="<%= systemConfig.prefixAdmin %>/item">
                    <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <!-- status Filter -->
                    <% include ./../../helper/filter-status.ejs %>
                    <% filterStatusHelper(statusFilter) %>

                    <div class="col-sm-6">
                        <form action="<%= systemConfig.prefixAdmin %>/items/<%= currentStatus %>" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Search for..."
                                    value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">Search</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><a
                                            href="<%= systemConfig.prefixAdmin %>/group/all">Clear</a></button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                List Items
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                    <div class="zcontrols">
                        <select name="action" class="form-control slbAction">
                            <option value="">Bulk Action</option>
                            <option value="<%= systemConfig.prefixAdmin %>/item/change-status/active">
                                Active
                            </option>
                            <option value="<%= systemConfig.prefixAdmin %>/item/change-status/inactive">
                                InActive
                            </option>
                            <option value="<%= systemConfig.prefixAdmin %>/item/save-ordering/">
                                Change Ordering
                            </option>
                            <option value="<%= systemConfig.prefixAdmin %>/item/delete/">
                                Delete
                            </option>
                        </select>
                        <button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction"
                            disabled>Apply</button>
                        <div class="pull-right">
                            <a href="<%= systemConfig.prefixAdmin %>/items/add" class="btn btn-warning btn-addNew">Add
                                New
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="cbAll" />
                                    </th>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <!-- <th width="30%">Content</th> -->
                                    <th>Ordering</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Show items -->
                                <% include ./../../helper/status.ejs %>
                                <% items.forEach((item, idx) => { %>
                                <tr>
                                    <td><input type="checkbox" name="cid" value="5a9e5a96da67bc078421d7d6" /></td>
                                    <td><%= idx+1 %></td>
                                    <td><%= item.name %></td>
                                    <td>
                                        <%= statusHelper(item.status,'#') %>
                                    </td>
                                    <td><input type="number" value="<%= item.ordering %>" class="text-center ordering">
                                    </td>
                                    <td>
                                        <a href="#" type="button" class="btn btn-warning btn-sm">Edit</a>
                                        <a href="#" type="button" class="btn btn-danger btn-sm btn-delete">Delete</a>
                                    </td>
                                </tr>
                                <% }); %>


                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Pagination
                <span>^</span>
                <span class="label label-warning">Total pages: 0</span>
                <span class="label label-danger">Total entries: 0</span>
            </div>

            <div class="panel-body">
                <div class="infor-pagination">

                    <p>Number of elements on the page: <span>0</span></p>

                    <p>Showing <span> 0 </span> to <span>0</span> of <span>0</span> entries</p>
                </div>
                <div class="ad-pagination">

                    <ul class="pagination text-center">

                        <li class="disabled"><a>«</a></li>

                        <li><a href="<%= systemConfig.prefixAdmin %>/item/page=1">1</a></li>

                        <li class="active"><a>2</a></li>

                        <li><a href="<%= systemConfig.prefixAdmin %>/item/page=3">3</a></li>

                        <li><a href="<%= systemConfig.prefixAdmin %>/item/page=4">4</a></li>

                        <li><a href="<%= systemConfig.prefixAdmin %>/item/page=5">5</a></li>

                        <li><a href="<%= systemConfig.prefixAdmin %>/item/page=0">»</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>